%p#saddress_number.field
  = label_tag 'order_ship_address_attributes_address_number', 'Numero'
  %span.required
    *
  %br/
  = text_field_tag 'order_ship_address_attributes_address_number', nil, :name => "order[ship_address_attributes][address_number]"

%p#sdistrict.field
  = label_tag 'order_ship_address_attributes_district', 'Bairro'
  %span.required
    *
  %br/
  = text_field_tag 'order_ship_address_attributes_district', nil, :name => "order[ship_address_attributes][district]"